<footer style="margin-top:50px;">
    <div class="footer-upper">
        <div class="container">
            <div class="footer-links">

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="copyright-content">
                        <p>2021 <i class="fa fa-copyright" aria-hidden="true"></i> Thiết kế bởi <a href="https://www.cyclonethemes.com/" target="_blank">Huỳnh Minh Nhật và Võ Đình Hưng</a></p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="payment-content">
                        <ul>
                            <li>Chấp nhận thanh toán</li>
                            <br />
                            <li>
                                Thanh toán qua ngân hàng
                            </li>
                            <br />
                            <li>
                                Thanh toán khi checkin tại sân bay
                            </li>
                            

                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</footer>